@model IEnumerable<EasyFly.Models.CustomerSupport>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyUserLog.C_Photos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleUserLog.S_Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyUserLog.C_Photos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SingleUserLog.S_Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
