@{
    ViewBag.Title = "Home Page";
    string img1 = "https://i.ytimg.com/vi/VbeQ0ZqxVLQ/maxresdefault.jpg";
    string img2 = "https://th.bing.com/th/id/R.39c80cc91f894e0385f0670c68ee6988?rik=Cv38E4bi9FwUVw&pid=ImgRaw&r=0";
}
@using EasyFly.Models
@model SearchFlight


<div class="container">
    <div class="row  mt-5">
        <div class="col ">
            <div class="row justify-content-center border-bottom">
                <h2>Book a Flight</h2>
            </div>
            <div class="row justify-content-center border border-danger shadow mt-4">
                @using (Html.BeginForm("SearchResult", "CompanyUserLogs", FormMethod.Post, new { @style = "margin-top:30px" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">

                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Source, new SelectList(ViewBag.src), "From",
                           htmlAttributes: new { @class = "form-control ", required = "required" })
                            @Html.ValidationMessageFor(m => m.Source, "", new { @class = "text-danger " })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Destination, new SelectList(ViewBag.des), "To",
                           htmlAttributes: new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(m => m.Source, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group ">
                            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger " })
                        </div>                        
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Search" class="btn btn-dark" style="width:700px" />
                            </div>
                        </div>

                    </div>

                }
            </div>
        </div>


    </div>

    <!--
    <div class="row mt-5">
        <div class="col">
            <div class="row border-bottom justify-content-center">
                <h2>Tour Packages</h2>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <img src="img1" width="500" class="w-90" alt="TourImage" />
                </div>
                <div class="col-6">
                    <img src="img2" width="500" class="w-90" alt="TourImage" />
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <a href="/SingleUserLogs/Packages" class="btn btn-outline-danger">See Package Deatails</a>
            </div>
        </div>
    </div>

    -->

</div>
<script>
    $(".datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/MM/yyyy'
    });
</script>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}