@model IEnumerable<EasyFly.Models.PackageInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}



<!-- Start Data Table -->
<div class="card col-span-2 xl:col-span-1">

    <div class="card-header" style="font-weight:bold">Current Offers/Packages - <p>@Html.ActionLink("Create New Package", "Create")</p></div>


    <table class="table-auto w-full text-left">
        <thead>
            <tr>
                <th class="px-4 py-2 border-r"> @Html.DisplayNameFor(model => model.PackageID) </th>
                <th class="px-4 py-2 border-r"> @Html.DisplayNameFor(model => model.HotelName) </th>
                <th class="px-4 py-2 border-r"> @Html.DisplayNameFor(model => model.HotelImage) </th>
                <th class="px-4 py-2 border-r"> @Html.DisplayNameFor(model => model.Destination) </th>
                <th class="px-4 py-2 border-r"> @Html.DisplayNameFor(model => model.PackagePrice) </th>
                <th class="px-4 py-2 border-r"></th>
            </tr>
        </thead>

        <tbody class="text-gray-600">

            @foreach (var item in Model)
            {
                <tr>
                    <td class="border border-l-0 px-4 py-2"> @Html.DisplayFor(modelItem => item.PackageID) </td>
                    <td class="border border-l-0 px-4 py-2"> @Html.DisplayFor(modelItem => item.HotelName) </td>
                    <td class="border border-l-0 px-4 py-2"> <img src="@Url.Content(item.HotelImage)" width="50" height="50" /> </td>
                    <td class="border border-l-0 px-4 py-2"> @Html.DisplayFor(modelItem => item.Destination) </td>
                    <td class="border border-l-0 px-4 py-2"> @Html.DisplayFor(modelItem => item.PackagePrice) </td>
                    <td class="border border-l-0 px-4 py-2">
                        @Html.ActionLink("Edit", "Edit", new { id = item.PackageID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PackageID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PackageID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
